@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');



* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container{
  max-width: 100%;
  overflow:visible;

}



.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ac3b61;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}


.left {
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;

}




.topnav a {
  background-color: #ac3b61;
  float: right;
  display: block;
  padding: 50px 16px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: aliceblue;
}
.topnav p {
  background-color: #ac3b61;
  float: right;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  font-weight : bold;
  color : aliceblue;
}

.main {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  background-color: black;

}

.body1 {
  padding-top: 50px;
  margin-left: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#ac3b61;
  font-size: 20px;

}

.body1 h1{
  font-size: 80px;
  padding-top: 100px;
  padding-left: 40px;
}

.body2 {
  padding-left: 40px;
  margin-top: 10px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
}

.body2 p{
  font-size: 30px;

}

.img1 img {
  
  padding: 50px;
  width: 400px;
  border-radius: 200px;
}


.buttons button {

    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: bolder;
    margin: 4px 20px;
    margin-left: 50px;

    cursor: pointer;
}

.buttons1 {
    background-color: blueviolet; 
    color: black; 
    border: 2px solid #4CAF50;
    font-family: 'Ubuntu', sans-serif;
    width: 20rem;
    transition: 300ms all ease;

}
  
.buttons1:hover {
    background-color: #ac3b61;
    color: white;
}
  
.buttons2 {
    background-color: blueviolet; 
    color: black; 
    border: 2px solid #008CBA;
    font-family: 'Ubuntu', sans-serif;
    width: 20rem;
    transition: 300ms all ease;
}
  
.buttons2:hover {
    background-color: #ac3b61;
    color: white;
}



/* MY HOBBIES SECTON STARTS HERE*/






.my_hobbies {
    background-color: brown;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.my_hobbies h1{
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 100px;
}

.my_hobbieslist1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.my_hobbieslist1 ul{
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;

}

.my_hobbieslist1 img{
  width: 120px;
}

.my_hobbieslist1 ul li{
  margin: 0 40px;
}


.my_hobbieslist2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.my_hobbieslist2 ul{
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;

}

.my_hobbieslist2 img{
width: 120px;
}

.my_hobbieslist2 ul li{
  margin: 0 40px;
}

.skills{
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: black;
}

.skills {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.skills p {
  margin-left: 50px;
  font-family: 'Cabin', sans-serif;
  font-weight: bolder;
  font-size: 50px ;
  padding: 15px;
}

.skills h1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 100px;
  margin-top: 100px;
  padding-top: 20px;
  
}


.skills_html{
  width: 1000px; 
  height: 20px;
  background-color: white;
  margin-left: 100px;
  display: block;
  color: white;
  border-radius: 10px;

}
.skills_html span{
  width: 80%;
  height: 20px;
  float:left;
  border-radius: 10px;
  background-color: #ac3b61;

}



.skills_css{
  width: 1000px; 
  height: 20px;
  background-color: white;
  margin-left: 100px;
  display: block;
  border-radius: 10px;

}
.skills_css span{
  width: 80%;
  height: 20px;
  float:left;
  border-radius: 10px;
  background-color: #ac3b61;
}


.skills_python{
  width: 1000px; 
  height: 20px;
  background-color: white;
  margin-left: 100px;
  display: block;
  border-radius: 10px;

}
.skills_python span{
  width: 60%;
  height: 20px;
  float:left;
  border-radius: 10px;
  background-color: #ac3b61;

}


.skills_cpp{
  width: 1000px; 
  height: 20px;
  background-color: white;
  margin-left: 100px;
  display: block;
  border-radius: 10px;

}
.skills_cpp span{
  width: 60%;
  height: 20px;
  float:left;
  border-radius: 10px;
  background-color: #ac3b61;

}